.timeline {
    display: flex;
    flex-direction: row;
    padding: 22px 0px 0px

}

.timeline__left {
    flex: 0.7;
}

.timeline__right {
    flex: 0.3;
    margin: 36px 0px 0px;
    font-weight: bold;
    justify-content: center;
    padding: 0px 0px 0px 64px;
}


.stories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    height: 101px;
    width: 630px;
    padding: 8px 0px;
    margin-right: auto;
    margin-left: auto;
}

.posts {
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.suggestions__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.timeline {
    margin: 10px;
}

.switch {
    margin-right: auto;
}